#root {
  margin: 0;
}

.dashboard-wrapper {
  display: flex;
  justify-content: center;
  /* centers whole block */
  margin-top: 20px;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  border: solid;
}